@import "~bulma/sass/utilities/initial-variables";
@import './_variables';
@import '~bulma';
@import '~slick-carousel/slick/slick.scss';

$slick-loader-path: './../../node_modules/slick-carousel/slick/';
$slick-font-path: './../../node_modules/slick-carousel/slick/fonts/';

@import '~slick-carousel/slick/slick-theme.scss';

@import 'navbar';
@import 'search';
@import 'form';
@import 'slick-theme';
@import 'footer';

.section.newsletter {
  background: #f3f3f3;
}

.columns.tile-grid {
  margin: 0;
  .column {
    @extend .has-text-centered;
    height: 400px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #555555;
    padding: 0;
    background-size: cover;
    opacity: .8;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }

    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;

    & > a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-shadow: 0 0 2px #555555;

      @extend .has-text-white;
      .title,
      .subtitle {
        @extend .has-text-white;
      }
    }
  }
}